version: '3.8'

services:
  app:
    build: .
    volumes:
      - .:/app
      - ./code:/app/code
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
      - API_KEY=${API_KEY}
      - BASE_URL=${BASE_URL}
    stdin_open: true
    tty: true
    command: python -m src.main
